<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Title</title>
</head>
<body>
<h4>
Шановні клієнти. У зв'язку з тим, що російска федрація оголосила війну Україні, наш проект тимчасово не взмозі надавати послуги.
	Практично увесь  персонал нашего проекту базувався у Харкову. Харків зараз зазнає масированої агрессії з боку окупаційних військ російской федерації. Агрессор — російска федерація не ганьбиться й веде вогонь по місту системами залпового вогню, авіацією та іншими системами озброєнь. При цьому вогонь ведеться по житловим кварталам та мирному населенню, що є актом міжнародного тероризму. Зараз ми здійснюємо евакуацію персоналу нашого проекту з Харкова у безпечні частини України.
	Якщо ви бажаєте допомогти нашому проекту та персоналу нашого сайту ми просимо вас про надання фінансової допомоги.
    <p>Допомогу можливо здійснити зробивши переказ на PayPal аккаунт spesroma@gmail.com , ми будемо вдячні будь-якій допомозі.</p>
	<p>З будь-яких питань та в будь-який час можно писати в телеграмм https://t.me/Ukraine_mmo</p>

	З повагою адміністрація mmo-lvl.com.

<br>
</h4>
<h4>

    <p></p>
    <p>
   https://t.me/Ukraine_mmo</p>



Administration of  mmo-lvl.com
    </h4>
    <br>
    <h4>



        <p> spesroma@gmail.com </p>
        <p></p>
    </h4>
    <br>
    <h4>




        <p> spesroma@gmail.com, </p>
        <p> </p>

    </h4>
    <br>
    <h4>





        <p> spesroma@gmail.com.
</p>
        <p>
    https://t.me/Ukraine_mmo</p>

    </h4>
</body>
</html>