{% extends 'base.html' %}
{% load bulma_tags %}
{% load i18n %}
{% block title %}{% trans 'Show medical establishment' %}{% endblock %}

{% block content %}
    <h4 class="title is-4">{% trans 'Medical establishment list:' %}</h4>
    {% if object_list.count != 0 %}
    <div class="columns">
        <div class="column is-8">
            <table class="table is-striped">
                    <tr>
                        <th>
                            {% trans 'Name/Address' %}
                        </th>
                        <th>
                            {% trans 'Phone number' %}
                        </th>
                        <th>
                            {% trans 'Action' %}
                        </th>
                        <th>
                            {% trans 'Action' %}
                        </th>
                        <th>
                            {% trans 'Site' %}
                        </th>

                    </tr>
                    {% for me in object_list %}
                        <tr>
                        <th>
                            {{ me.name }}<br>{{ me.address }}
                        </th>
                        <th>
                            {{ me.phone_number }}
                        </th>
                        <th>
                            <a HREF="http://{{ me.site }}" target="_blank">{{ me.site }}</a>
                        </th>
                        <th>
                           <a HREF="{% url 'edit-medical-establishments' me.pk %}">{% trans 'Edit' %}</a>
                        </th>
                        <th>
                           <a HREF="{% url 'predelete-medical-establishments' me.pk %}">{% trans 'Delete' %}</a>
                        </th>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="column is-offset-1">
            <h4 class="title is-4">{% trans 'You do not have medical establishment for edit.' %}</h4>
        </div>
    </div>
    {% endif %}

{% endblock content %}