<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <link type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2087/PNG/512/ukraine_icon_127856.png" rel="shortcut icon">
  </head>
  <body>
  <section class="hero is-info">
      <br>
  <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h4 class="title is-4 ">
                Шановні клієнти. У зв'язку з тим, що російска федрація оголосила війну Україні, наш проект тимчасово не взмозі надавати послуги.
            Практично увесь  персонал нашего проекту базувався у Харкову. Харків зараз зазнає масированої агрессії з боку окупаційних військ російской федерації. Агрессор — російска федерація не ганьбиться й веде вогонь по місту системами залпового вогню, авіацією та іншими системами озброєнь. При цьому вогонь ведеться по житловим кварталам та мирному населенню, що є актом міжнародного тероризму. Зараз ми здійснюємо евакуацію персоналу нашого проекту з Харкова у безпечні частини України.
            Якщо ви бажаєте допомогти нашому проекту та персоналу нашого сайту ми просимо вас про надання фінансової допомоги.
        </h4>
      <br>
      <p class="subtitle">
        Допомогу можливо здійснити зробивши переказ на PayPal аккаунт  <a href="https://www.paypal.com/pools/c/8HH5W2KXdX">https://www.paypal.com/pools/c/8HH5W2KXdX</a>, ми будемо вдячні будь-якій допомозі.
      </p>
      <p class="subtitle">
        З будь-яких питань та в будь-який час можно писати в телеграмм  <a href="https://t.me/Ukraine_mmo"> <strong>https://t.me/Ukraine_mmo</strong> </a>
      </p>
      </div>
  </div>
      <br>
  </section>


  <section class="hero is-warning">
      <br>
  <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h4 class="title is-4 ">
            Dear customers, Due to the military invasion of russia into the Ukraine, our team is unable to provide any service at present.
            Most of our team is based in Kharkiv. Kharkiv currently is under attack from the russian federation armed forces.
            Aggressor – the russian federation does not hesitate to strike the city with multiple rocket launchers,
            aviation and other weapons of mass destruction. Moreover, fire is aimed at living districts and local population ,
            which accounts to acts of terrorism. Currently, we evacuating our employees out of Kharkiv into safe areas within the Ukraine.
            If you would like to help our project and team, we ask you for financial help.
        </h4>
      <br>
      <p class="subtitle">
        Donation can be made to PayPal account: <a href="https://www.paypal.com/pools/c/8HH5W2KXdX">https://www.paypal.com/pools/c/8HH5W2KXdX</a>
  <strong>spesroma@gmail.com</strong>, We are grateful for your help..
      </p>
      <p class="subtitle">
        We are happy to reply to any questions on telegram:
          <a href="https://t.me/Ukraine_mmo"> <strong>https://t.me/Ukraine_mmo</strong> </a>
      </p>
      </div>
  </div>
      <br>
  </section>

  <section class="hero is-info">
      <br>
  <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h4 class="title is-4 ">
        Liebe Kunden. Leider wegen der Tatsache, dass die russische föderation der Ukraine den Krieg erklärt hat,
        kann unser Projekt vorübergehend keine Dienstleistungen weiterbringen.
        Fast das gesamte Personal unseres Projekts arbeitete von Charkow. Charkiw aktuell ist unter einer massiven Angriff
        der Besatzungstruppen der russischen föderation ausgesetzt. Der Angreifer – die russische föderation – blamiert
        sich nicht und beschießt die Stadt mit mehreren Raketenwerfern, Flugzeugen und anderen Waffensystemen.
        Gleichzeitig wird auf Wohngebiete und Zivilisten geschossen, was ein Akt des internationalen Terrorismus ist.
        Jetzt evakuieren wir das Personal unseres Projekts aus Charkow in sichere Teile der Ukraine.
        Wenn Sie unser Projekt und unsere Website-Mitarbeiter unterstützen möchten, bitten wir Sie um finanzielle Hilfe.
        </h4>
      <br>
      <p class="subtitle">
        Jeder, der uns helfen will kann auf das PayPal-Konto  <a href="https://www.paypal.com/pools/c/8HH5W2KXdX">https://www.paypal.com/pools/c/8HH5W2KXdX</a> Geld überweisen, wir sind für jede Hilfe dankbar..
      </p>
      <p class="subtitle">
        Bei Fragen sind wir in Telegrammen
          <a href="https://t.me/Ukraine_mmo"> <strong>https://t.me/Ukraine_mmo</strong> </a>
          erreichbar. Mit der volle Hoffnung und Respekt, Administration von mmo-lvl.com
      </p>
      </div>
  </div>
      <br>
  </section>

  <section class="hero is-warning">
      <br>
  <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h4 class="title is-4 ">
            Chers clients.  En raison du fait que la fédération de russie a déclaré la guerre à l'Ukraine, notre projet est
            temporairement incapable de fournir des services.
            Presque tout le personnel de notre projet était basé à Kharkiv.  Kharkiv fait maintenant l'objet d'agressions massives
            de la part des forces d'occupation de la fédération de russie.  L'agresseur - la fédération de russie n'a pas honte
            et tire sur la ville avec des systèmes de tir à la volée, des avions et d'autres systèmes d'armes.  Dans le même temps,
            des tirs sont menés sur des quartiers résidentiels et des civils, ce qui est un acte de terrorisme international.
            Nous évacuons actuellement notre personnel de projet de Kharkiv vers des régions sûres de l'Ukraine.
            Si vous souhaitez aider notre projet et le personnel de notre site, nous vous demandons de fournir une aide financière.
        </h4>
      <br>
      <p class="subtitle">
        L'aide peut être apportée en transférant sur le compte PayPal
  <a href="https://www.paypal.com/pools/c/8HH5W2KXdX">https://www.paypal.com/pools/c/8HH5W2KXdX</a>, nous vous serions reconnaissants de toute aide.
      </p>
      <p class="subtitle">
        Pour toute question et à tout moment, vous pouvez écrire dans des télégrammes
          <a href="https://t.me/Ukraine_mmo"> <strong>https://t.me/Ukraine_mmo</strong> </a>
          Cordialement, administration mmo-lvl.com.
      </p>
      </div>
  </div>
      <br>
  </section>

  <section class="hero is-info">
      <br>
  <div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
        <h4 class="title is-4 ">
            Queridos clientes, Debido a la invasión militar de rusia a Ucrania, nuestro equipo no puede brindar ningún servicio en este momento.
            La mayor parte de nuestro equipo tiene su sede en Kharkiv. Kharkiv actualmente está bajo ataque de las fuerzas armadas de
            la federación rusa. Agresor: la federación rusa no duda en atacar la ciudad con múltiples lanzacohetes, aviación y otras
            armas de destrucción masiva. Además, el fuego está dirigido a los distritos de vida y la población local, lo que da cuenta de los actos de terrorismo. Actualmente, evacuamos a nuestros empleados de Kharkiv a áreas seguras dentro de Ucrania.
            Si desea ayudar a nuestro proyecto y equipo, le pedimos ayuda financiera.
        </h4>
      <br>
      <p class="subtitle">
        La donación se puede hacer a la cuenta de PayPal:  <a href="https://www.paypal.com/pools/c/8HH5W2KXdX">https://www.paypal.com/pools/c/8HH5W2KXdX</a> Estamos agradecidos por su ayuda.
      </p>
      <p class="subtitle">
        Estamos encantados de responder a cualquier pregunta en Telegram
          <a href="https://t.me/Ukraine_mmo"> <strong>https://t.me/Ukraine_mmo</strong> </a>
          Administración de mmo-lvl.com
      </p>
      </div>
  </div>
      <br>
  </section>

  </body>
</html>